body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.option-button {
    background-color: #add8e6;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #90ee90;
}

.option-button.selected {
    background-color: #32cd32;
    /* Verde para indicar a seleção */
    color: white;
}

#next-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#next-button:hover {
    background-color: #0056b3;
}

#feedback-container {
    display: none;
}